html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: var(--color-accent);
}

footer {
  background-color: var(--color-secondary);
}

.footer {
  color: #fff;
}
