:root {
  --color-primary: #8B8AAA;
  --color-secondary: #F59799;
  --color-accent: #CDE7CE;
  --color-background: #FDFDFD;
  --color-banner: #fff;
  --btn-background: #CDE7CE;
  --btn-color: #8B8AAA;
  --btn-radius: #fff;

  --font-primary: "Roboto", Arial;
  --font-weight: 300;
}

html {
  font-family: var(--font-primary);
  font-weight: var(--font-weight);
}

h1 {
  color: var(--color-primary);
  font-weight: var(--font-weight);
}

h2 {
  color: var(--color-primary);
  font-weight: var(--font-weight);
}

h3 {
  color: var(--color-primary);
  font-weight: var(--font-weight);
}

h4, h5, h6 {
  color: var(--color-secondary);
  font-weight: var(--font-weight);
}

<em>, <strong> {
  color: var(--color-primary);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  color: #fff;
  border-bottom: 2px solid var(--color-primary);
}

ul, li {
  list-style-type: none;
}

header {
  background-color: var(--color-accent);
}
