:root {
  --color-primary: #333333;
  --color-secondary: #f59799;
  --color-accent: #8aaec0;
  --color-background: #fdfdfd;
  --color-neutral: #333;
  --color-banner: #fff;
  --btn-border: #fff;

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Roboto Slab", serif;
}

html {
  font-family: var(--font-primary);
  background-color: var(--color-background);
  color: var(--color-neutral);
}

h1 {
  color: var(--color-primary);
  font-family: var(--font-secondary);
}

h2 {
  color: var(--color-primary);
  font-family: var(--font-secondary);
}

h3 {
  color: var(--color-primary);
  font-family: var(--font-secondary);
}

h4, h5, h6 {
  color: var(--color-secondary);
  font-family: var(--font-secondary);
}

em, strong {
  color: var(--color-primary);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

ul, li, dl, dt, dd {
  list-style-type: none;
  color: var(--color-secondary);
}

header {
  background-color: var(--color-accent);
}

p {
  color: var(--color-primary)
}

.white {
  color: #fff;
}
