:root {
  --color-primary: #8b8aaa;
  --color-secondary: #f59799;
  --color-accent: #cde7ce;
  --color-background: #fdfdfd;
  --color-banner: #fff;
  --btn-background: #cde7ce;
  --btn-color: #8b8aaa;
  --btn-radius: #fff;

  --font-primary: "Roboto", arial;
  --font-weight: 300;
}

html {
  font-family: var(--font-primary);
  font-weight: var(--font-weight);
  background-color: #fdfdfd;
}

h1 {
  color: var(--color-primary);
  font-weight: var(--font-weight);
}

h2 {
  color: var(--color-primary);
  font-weight: var(--font-weight);
}

h3 {
  color: var(--color-primary);
  font-weight: var(--font-weight);
}

h4, h5, h6 {
  color: var(--color-secondary);
  font-weight: var(--font-weight);
}

em, strong {
  color: var(--color-primary);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  color: #fff;
  border-bottom: 2px solid var(--color-primary);
}

ul, li {
  list-style-type: none;
}

header {
  background-color: var(--color-accent);
}
